@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
        width: 33%
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-mg-6, .col-mg-12 {
        float: left
    }
    .col-mg-6 {
        width: 50%
    }
    .col-mg-12 {
        width: 100%
    }
}

@media (max-width: 767px) {
    .col-sg-12 {
        float: left;
        width: 100%
    }
}